# Virtual environment
.venv/
venv/

# Artifacts (embeddings, models, numpy files, ecc.)
artifacts/

# Specific sensitive file inside dataset
dataset/Opendatabay_recovery_codes.txt
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS
.DS_Store
Thumbs.db